# Exercise - Data Preparation

The data set for this exercise includes information on house sales in King County, Washington (between May 2014 and May 2015). (Each row in the data set pertains to one house. There is a total of 21,613 houses in the data set). Use the data set to practice your DATA PREP skills. 
<br><br>
The data set is called "kc_house_data.csv".

## Description of Variables

The description and type of each variable is provided in "KC house data - Data Dictionary.docx". Make sure to read this document to learn about the variables. Please check if variables are numeric, binary, or categorical.

# Setup

In [262]:
# Common imports
import numpy as np
import pandas as pd

np.random.seed(42)

# Get the data

In [263]:
# Import the data set:
airbnb = pd.read_csv("C:\\Users\\hp\\Desktop\\BAIS Semester2\\DSP\\kc_house_data.csv")
airbnb.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,432000,5.0,2.75,2060.0,329903.0,1.5,0,3,5,7.0,2060,0,1989.0,0,zip_98022,47.1776,-121.944,2240,220232.0
1,170000,2.0,1.00,810.0,8424.0,1.0,0,0,4,6.0,810,0,1959.0,0,zip_98023,47.3286,-122.346,820,8424.0
2,235000,3.0,1.00,960.0,5030.0,1.0,0,0,3,7.0,960,0,1955.0,0,zip_98118,47.5611,-122.280,1460,5400.0
3,350000,2.0,1.00,830.0,5100.0,1.0,0,0,4,7.0,830,0,1942.0,0,zip_98126,47.5259,-122.379,1220,5100.0
4,397380,2.0,1.00,1030.0,5072.0,1.0,0,0,3,6.0,1030,0,1924.0,1958,zip_98115,47.6962,-122.294,1220,6781.0

# Split the data into train and test

In [264]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(airbnb, test_size=0.3)

## Check the missing values

In [265]:
train.isna().sum()

price            0
bedrooms         1
bathrooms        0
sqft_living      0
sqft_lot         1
floors           0
waterfront       0
view             0
condition        0
grade            1
sqft_above       0
sqft_basement    0
yr_built         1
yr_renovated     0
zipcode          2
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# Data Prep

In [266]:
# Imports:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

## Separate the PRICE variable, which is the target variable (don't transform the target)

In [285]:
# Separate the target variable and input variables

train_targets = train[[ 'price', 'yr_built', 'sqft_living15', 'sqft_lot15' ]] 
test_targets = test[[ 'price', 'yr_built', 'sqft_living15', 'sqft_lot15']]

train_inputs = train.drop(['price', 'yr_built', 'sqft_living15', 'sqft_lot15'],  axis=1)
test_inputs = test.drop(['price', 'yr_built',  'sqft_living15', 'sqft_lot15'] , axis=1)

In [286]:
train_inputs

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_renovated,zipcode,lat,long
472,4.0,3.25,3200.0,7081.0,2.0,0,0,3,9.0,3200,0,0,zip_98075,47.5886,-121.989
7527,3.0,1.50,1890.0,9450.0,1.0,0,0,3,7.0,1090,800,0,zip_98146,47.4829,-122.341
16751,6.0,2.00,2800.0,29985.0,1.0,0,0,5,7.0,1400,1400,0,zip_98058,47.4398,-122.080
19012,4.0,2.50,2110.0,6820.0,1.0,0,0,5,7.0,1530,580,0,zip_98115,47.6882,-122.306
5270,4.0,2.50,3700.0,63991.0,2.0,0,0,3,10.0,3700,0,0,zip_98077,47.7319,-122.051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,3.0,2.50,2393.0,4788.0,2.0,0,0,3,8.0,2393,0,0,zip_98055,47.4517,-122.204
11964,3.0,1.00,1090.0,22080.0,1.0,0,0,5,7.0,1090,0,0,zip_98038,47.3991,-121.964
5390,3.0,3.50,3010.0,5717.0,2.0,0,0,3,10.0,3010,0,0,zip_98007,47.5943,-122.150
860,4.0,2.50,1921.0,4888.0,2.0,0,0,3,7.0,1921,0,0,zip_98001,47.2689,-122.240
15795,4.0,3.50,3400.0,5222.0,2.0,0,0,3,9.0,3400,0,0,zip_98038,47.3559,-122.000

In [287]:
train_targets

        price  yr_built  sqft_living15  sqft_lot15
472    707000    2004.0           3120      6094.0
7527   270000    1957.0           1470      8100.0
16751  405000    1954.0           1980     29985.0
19012  650000    1942.0           1420      6431.0
5270   898000    1992.0           3210     47215.0
...       ...       ...            ...         ...
11284  400000    2012.0           2439      5477.0
11964  267500    1967.0           1590     19457.0
5390   848000    2000.0           2780      5138.0
860    245000    2009.0           1921      9140.0
15795  515000    2005.0           3190      5326.0

[13724 rows x 4 columns]

In [288]:
train_inputs

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_renovated,zipcode,lat,long
472,4.0,3.25,3200.0,7081.0,2.0,0,0,3,9.0,3200,0,0,zip_98075,47.5886,-121.989
7527,3.0,1.50,1890.0,9450.0,1.0,0,0,3,7.0,1090,800,0,zip_98146,47.4829,-122.341
16751,6.0,2.00,2800.0,29985.0,1.0,0,0,5,7.0,1400,1400,0,zip_98058,47.4398,-122.080
19012,4.0,2.50,2110.0,6820.0,1.0,0,0,5,7.0,1530,580,0,zip_98115,47.6882,-122.306
5270,4.0,2.50,3700.0,63991.0,2.0,0,0,3,10.0,3700,0,0,zip_98077,47.7319,-122.051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,3.0,2.50,2393.0,4788.0,2.0,0,0,3,8.0,2393,0,0,zip_98055,47.4517,-122.204
11964,3.0,1.00,1090.0,22080.0,1.0,0,0,5,7.0,1090,0,0,zip_98038,47.3991,-121.964
5390,3.0,3.50,3010.0,5717.0,2.0,0,0,3,10.0,3010,0,0,zip_98007,47.5943,-122.150
860,4.0,2.50,1921.0,4888.0,2.0,0,0,3,7.0,1921,0,0,zip_98001,47.2689,-122.240
15795,4.0,3.50,3400.0,5222.0,2.0,0,0,3,9.0,3400,0,0,zip_98038,47.3559,-122.000

In [289]:
test_targets

        price  yr_built  sqft_living15  sqft_lot15
7613   452000    2006.0           1490      2500.0
3341   396450    1967.0           1330     11508.0
14529  615000    2001.0           2860      6435.0
19051  563225    1918.0           1680      4000.0
3474   314963    1943.0           1490      6350.0
...       ...       ...            ...         ...
14761  299000    1974.0           1330     46609.0
14050  328000    1997.0           1610      3840.0
239    499900    1999.0           2100      4370.0
5158   830005    1994.0           2460      7300.0
8619   485000    1988.0           1970      7470.0

[5882 rows x 4 columns]

##  Identify the numeric, binary, and categorical columns

In [2]:
numeric_columns = ['bedrooms', 'bathrooms', 'sqft_living',
                   'sqft_lot', 'floors', 'condition', 
                    'sqft_above', 'view', 'grade',
                   'sqft_basement', 
                   'yr_renovated', 'lat', 'long']
 
binary_columns = ['waterfront']
 
categorical_columns = ['zipcode']

In [3]:
binary_columns

['waterfront']

In [4]:
numeric_columns

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'condition',
 'sqft_above',
 'view',
 'grade',
 'sqft_basement',
 'yr_renovated',
 'lat',
 'long']

In [293]:
categorical_columns

['zipcode']

# Pipeline (recommended)

If you don't want to use pipelines, feel free to use your own data prep steps.

In [294]:
# Numeric transformer:

numeric_transformer = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler())])

In [295]:
# Categorical transformer:

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='unknown')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [296]:
# Binary transformer:

binary_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent'))])

In [1]:
# Column transformer:

preprocessor = ColumnTransformer([
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns),
        ('binary', binary_transformer, binary_columns)],
        remainder='drop')

NameError: name 'ColumnTransformer' is not defined

# Transform: fit_transform() for TRAIN

In [298]:
##### Fit and transform the train data

train_x = preprocessor.fit_transform(train_inputs)
train_x

<13724x84 sparse matrix of type '<class 'numpy.float64'>'
	with 192168 stored elements in Compressed Sparse Row format>

In [299]:
train_x.shape

(13724, 84)

# Tranform: transform() for TEST

In [300]:
# Transform the test data

test_x = preprocessor.transform(test_inputs)
test_x

<5882x84 sparse matrix of type '<class 'numpy.float64'>'
	with 82362 stored elements in Compressed Sparse Row format>

In [302]:
test_x.shape

(5882, 84)